- if current_user
  %h2.welcome= "Aqui está um cachorrinho pra você, #{current_user.name}"

  = link_to "Obrigado pelo cachorrinho, mas eu quero sair", logout_path, method: :delete, id: "logout-link"

.puppy
  = image_tag "corgi.jpg"